# Dependencies
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Misc
*.log
*.tmp
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
